* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
  font-family: "Poppins", sans-serif;
  a {
    text-decoration: none;
  }
}

.top__bar {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
  align-items: center;
  padding: 0 12rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 2;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    gap: 0.3rem;
    padding: 0rem;
  }
}

.login__btn {
  padding: 2px 17px;
  border: none;
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);

  cursor: pointer;
  border-radius: 3px;
  a {
    color: #fff;
    background: inherit;
    text-decoration: none;
  }
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}
.hero__section__search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 20px;
  }
  h1 {
    margin-right: 40px;
    @media only screen and (max-width: 768px) {
      margin: 0;
    }
  }
  input {
    outline: none;
    background: #fafafa;
    box-shadow: inset 8px 8px 27px #c3c3c3, inset -8px -8px 27px #ffffff;

    padding: 18px 15px;
    border-radius: 7px 0 0px 7px;
    width: 768px;
    font-size: 18px;
    border: 1px solid #fcaf1f;
    @media only screen and (max-width: 1080px) {
      width: 500px;
    }
    @media only screen and (max-width: 768px) {
      width: 400px;
      border-radius: 7px;
    }
    @media only screen and (max-width: 430px) {
      width: 350px;
      padding: 12px 10px;
      font-size: 15px;
    }
    @media only screen and (max-width: 360px) {
      width: 280px;
      padding: 12px 10px;
      font-size: 15px;
    }
  }
  button {
    padding: 18px 32px;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(26.71%, #fdc50f),
      color-stop(99.36%, #fb982f)
    );
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    border-radius: 0 8px 8px 0;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #fcaf1f;
    @media only screen and (max-width: 768px) {
      border-radius: 8px;
      padding: 10px 32px;
    }
  }
}
.hero__get-started {
  background-color: #f1f1f1;

  border: 1px solid #fb9d2b;
  border-radius: 6px;
}
.hero__container-header {
  padding: 1rem;
  background: #fafafa;
  border-radius: 6px 6px 0 0;

  h2 {
    --tw-bg-opacity: 1;
    font-size: 25px;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-color: #005fff;
    background-image: linear-gradient(
      119deg,
      #009cff,
      #006de7 25%,
      #002ac4,
      #006de7,
      #009cff
    );
    background-repeat: no-repeat;
    background-size: 200%;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media only screen and (max-width: 768px) {
      font-size: 18px;
    }
  }
  h2:hover {
    background-position: 100%;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.hero__container-contect {
  display: flex;
  padding: 20px;
  gap: 2rem;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    border: none;
    border-bottom: 1px solid #fafafa;
  }
}
.hero__container__single-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  border: 1px solid #fba426;
  border-radius: 6px;
  padding: 20px 10px;
}
.button-grid {
  width: 8em;
  height: 2em;
  color: orange;
  border: none;
  background: transparent;
  border-left: 0.08em solid;
  position: relative;
  margin-top: 0.8em;
  cursor: pointer;
  span {
    position: relative;
    height: 120%;
    top: -10%;
    color: #996300;
    box-sizing: border-box;
    border: 0.08em solid;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
  }
}

.button-grid::before,
.button-grid::after {
  content: "";
  position: absolute;
  width: inherit;
  border-left: inherit;
  // z-index: -1;
}
.button-grid::before {
  height: 80%;
  top: 10%;
  left: calc(-0.15em - 0.08em * 2);
  filter: brightness(0.8);
}
.button-grid::after {
  height: 60%;
  top: 20%;
  left: calc(-0.15em * 2 - 0.08em * 3);
  filter: brightness(0.6);

  left: -0.6em;
}

.button-grid:hover span {
  transform: translateX(0.15em);
}
.register__btns {
  display: flex;
  gap: 2rem;
  padding: 25px;
  justify-content: center;
}
.join__btn {
  button {
    cursor: pointer;
    border: none;
    padding: 11px 15px;
    font-size: 15px;
    background: #fba426;

    border-radius: 5px;
    a {
      color: #fff;
    }
  }
}
.login {
  button {
    cursor: pointer;
    border: none;
    padding: 11px 15px;
    font-size: 15px;
    background: #2646fb;
    border-radius: 5px;
    a {
      color: white;
    }
  }
}

// slider
#carousel-wrapper {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  #menu {
    height: 380px;
    width: 100%;
    overflow: hidden;
    font-weight: 700;
    line-height: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    transition: all 0.6s ease-in-out;

    #current-option {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translate(-25%, 0%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //background-color: blue;
      overflow: hidden;

      #current-option-text1 {
        font-size: 1.6rem;
        line-height: 3rem;
        width: 220px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        //background: red;

        &::before {
          content: attr(data-next-text);
          position: absolute;
          transform: translate(0%, 380px);
          width: 100%;
          height: 200px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          //background: red;
        }

        &::after {
          content: attr(data-previous-text);
          position: absolute;
          transform: translate(0%, -380px);
          width: 100%;
          height: 200px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          //background: red;
        }
      }

      #current-option-text2 {
        font-size: 0.8rem;
        width: 220px;
        height: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        //background: green;

        &::before {
          content: attr(data-next-text);
          position: absolute;
          transform: translate(0%, 380px);
          width: 100%;
          height: 40px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          //background: green;
        }

        &::after {
          content: attr(data-previous-text);
          position: absolute;
          transform: translate(0%, -380px);
          width: 100%;
          height: 40px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          //background: green;
        }
      }
    }
    // .slider__button {
    //   position: absolute;
    //   top: 61px;
    //   transform: rotate(90deg);
    // }

    #previous-option {
      width: 1.5rem;
      height: 1.5rem;
      border: none;
      display: block;
      cursor: pointer;
      background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
      background-size: cover;
      position: absolute;
      transform: translate(310px, 50px);
    }

    #next-option {
      width: 1.5rem;
      height: 1.5rem;
      border: none;
      display: block;
      cursor: pointer;
      background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
      background-size: cover;
      position: absolute;
      transform: translate(310px, -50px) rotate(180deg);
    }
  }

  #image {
    height: 240px;
    width: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 101;
    position: absolute;
    transform: translate(140px, 0);
  }

  &.anim-next {
    pointer-events: none;

    #current-option-text1 {
      animation: next-text 0.65s 0.085s;
    }

    #current-option-text2 {
      animation: next-text 0.65s 0.085s;
    }

    #previous-option {
      animation: next-top-arrow 0.65s 0.085s;
    }

    #next-option {
      animation: next-bottom-arrow 0.65s 0.085s;
    }

    #image {
      animation: next-image 0.65s 0.085s;
    }
  }

  &.anim-previous {
    pointer-events: none;

    #current-option-text1 {
      animation: previous-text 0.65s 0.085s;
    }

    #current-option-text2 {
      animation: previous-text 0.65s 0.085s;
    }

    #previous-option {
      animation: previous-top-arrow 0.65s 0.085s;
    }

    #next-option {
      animation: previous-bottom-arrow 0.65s 0.085s;
    }

    #image {
      animation: previous-image 0.65s 0.085s;
    }
  }
}

@keyframes previous-text {
  50%,
  55% {
    transform: translate(0%, 390px);
  }
  to {
    transform: translate(0%, 380px);
  }
}

@keyframes previous-top-arrow {
  50% {
    transform: translate(310px, 53px);
  }
}

@keyframes previous-bottom-arrow {
  50% {
    transform: translate(310px, -47px) rotate(180deg);
  }
}

@keyframes previous-image {
  0% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}

@keyframes next-text {
  50%,
  55% {
    transform: translate(0%, -390px);
  }
  to {
    transform: translate(0%, -380px);
  }
}

@keyframes next-top-arrow {
  50% {
    transform: translate(310px, 47px);
  }
}

@keyframes next-bottom-arrow {
  50% {
    transform: translate(310px, -53px) rotate(180deg);
  }
}

@keyframes next-image {
  0% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}
// slider
